@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
:root{
    --blackBlue:#1A237E;
    --lightBlue:#0080D9;
    --ligthGreen:#00BFA5;
    --dark:#262D38;
}
.title h2{
    text-transform:uppercase;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    transition: all 0.1s;
    
}
body{
    height:100%;
    width: 100%;
    overflow-x: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    padding: 0px 20px 0px 20px;
}

/*Bara de menu no TOPO*/
nav{
    display:flex;
    align-items:center;
    justify-content: center;
}
.topbar{
    height:120px;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
}
.topbar .logo{
    height:100%;
}
.topbar ul{
    display:flex;
    align-items:center;
    justify-content:center;
    list-style: none;
}
.topbar ul li{
    margin:0px 10px 0px 10px
}
.topbar ul li a{
    text-decoration:none;
    color:var(--lightBlue);
    font-weight: bold;
    text-transform:uppercase;
    border-bottom: 2px solid white;
    transition:.3s;
}

.topbar ul li a:hover{ 
    border-bottom: 2px solid var(--blackBlue);
}
/*Menu mobile*/
nav #toggle{
    position:relative;
    width:50px;
    height: 50px;
    background:var(--lightBlue);
    cursor:pointer;
    display:none;
    align-items:center;
    justify-content:center
}

#toggle.active{
    display:flex;
    background:var(--ligthGreen);
}
#toggle::before{
    content:'';
    position:absolute;
    width:28px;
    height:2px;
    background:#fff;
    transition:.2s;
    transform:translateY(-10px);
    box-shadow: 0 10px 0 #fff;
}
#toggle.active::before{
    transform:translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}
#toggle::after{
    content:'';
    position:absolute;
    width:28px;
    height:2px;
    background:#fff;
    transition:.2s;
    transform:translateY(10px);
}
#toggle.active::after{
    transform:translateY(0px) rotate(-45deg);
}
.menuMobile{ 
    position:fixed;
    height: calc(100vh - 120px);
    top: 120px;
    padding: 20px;
    left:100vw;
    width: 100%;
    background:white;
    border-top:1px solid var(--lightBlue);
    z-index: -999999999;
}
.menuMobile ul li{
    margin-bottom: 30px;
    list-style: none;
}
.menuMobile ul li a{
    color:var(--dark);
    text-decoration: none;
    font-size: 20px;
}
.showORhide{
    left:0;
    z-index: 999999999;
}

/*Banner*/
.banner{
    background:radial-gradient(ellipse at bottom, var(--blackBlue) 0%, var(--dark) 100%);
    padding: 120px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.bannerItem{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.bannerText{
    color:white;
}
.bannerText h1{
    font-size:30px;
    margin-bottom: 20px;
}
.bannerText p{
    font-size:15px;
}
.bannerText a{
    color:var(--ligthGreen);
    display:inline-block;
    padding:10px 20px;
    border:2px solid var(--ligthGreen);
    text-decoration: none;
    margin-top:20px;
}
.bannerText a:hover{
    color:white;
    background-color:var(--ligthGreen);
}
.bannerImage{
    display:flex;
    align-items:center;
    justify-content:center;
}
.carousel-indicators{
    transform:translateY(65px);
}


/*Seção de contatos*/
#contacts{
    background-color:#edeef2;
    padding: 120px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
}
#contacts .content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#contacts .content h2{
    font-size:25px;
    color:var(--blackBlue);
    font-weight:400;
    margin-bottom: 100px;
}
#contacts .content .contentItens{
    display:flex;
    justify-content: center;
}
#contacts .content .contentImage{
    width:750px;
}
#contacts .content .contentImage img{
    height:100px;
}
#contacts .content .contentImage::after{
    content:'-------->';
    color: #bfc3cc;
    margin-left: 10px;
    position: absolute;
    transform:translateY(40px);
}
#contacts .content .contentCards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#contacts .content .contentItens .card{
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition:.3s;
    cursor:pointer;
    -webkit-box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
    -moz-box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
    box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
}
#contacts .content .contentItens .contentCards .card .title{
    text-align: center;
}
#contacts .content .contentItens .card:hover{
    transform:translateY(-10px);
}
#contacts .content .contentItens .card img{
    height:75px;
    width: 75px;
    margin-bottom: 20px;
}

/*Seção de sobre*/
#about{
    padding: 120px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
}
#about .content .title h2{
    font-size:25px;
    color:var(--lightBlue);
    font-weight:400;
    margin-bottom: 100px;
}
#about .content .text{
    display:flex;
    align-items:center;
    justify-content:start;
    
}
#about .content .text p{
    display:block;
    width:70%;
    margin-bottom: 100px;
    align-items:justify;
}
#about .content .text span{
    display:block;
    color: #bfc3cc;
    width:200px;
}
#about .content .indexes{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#about .content .indexes .item{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#about .content .indexes .item .title{
    font-family: 'Train One', cursive;
    font-size:50px;
    color:var(--lightBlue);
}
/*Propostas do Governo*/

#proposals{
    background-color:#edeef2;
    padding: 120px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#proposals .content .title h2{
    font-size:25px;
    color:var(--lightBlue);
    font-weight:400;
    margin-bottom: 100px;
}
/* SLIDE */
.carousel-control-next, .carousel-control-prev{
    /* deixa os controles mais prox a parede  */
    width: 3%;
}

.ajuste-text{
    margin: 0 200px;
}
.image{
    margin: 0 240px;
    margin-bottom: 30px;
}
.propostaText a{
    color:var(--ligthGreen);
    display:inline-block;
    padding:10px 20px;
    border:2px solid var(--ligthGreen);
    text-decoration: none;
    margin-top:20px;
}
.propostaText a:hover{
    color:white;
    background-color:var(--ligthGreen);
}
/* provavelmente não vai ficar responsivo */
    
    


/*Funcionarios*/
#developers{
    padding: 120px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#developers .content .title h2{
    font-size:25px;
    color:var(--lightBlue);
    font-weight:400;
    margin-bottom: 100px;
}
#developers .content .employees{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#developers .content .employees .card{
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    -webkit-box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
    -moz-box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
    box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
}
#developers .content .employees .card:hover{
    transform:translateY(-10px);
}
#developers .content .employees .card img{
    height:75px;
    width: 75px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid var(--blackBlue)
}
#developers .content .employees .card p{
    text-align:center;
}
#developers .content .employees .card a{
    text-decoration: none;
    list-style: none;
}
#developers .content .employees .card .icons{
    margin: 0px 10px 0px 10px;
    color:var(--blackBlue);
    opacity:0;
    transition: .3s;
}
#developers .content .employees .card:hover .icons{
    opacity: 1;
}
/*FEEDBACKS??*/

/*MODAL*/
.modal_background, .modalTell{
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modalOn{
    display:flex;
}
.modal_background .modalS, .modalTell .modalS{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color:#edeef2;
    width: 100%;
    max-width: 1150px;
    height:100vh;
    max-height: 800px;
    padding:20px 0px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
    -moz-box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
    box-shadow: 4px 4px 18px -5px rgba(26, 35, 126, 0.72);
}
.modal_background .modalS form, .modalTell .modalS ul{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
    margin:50px 0px;
}

.modal_background .modalS .left{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.modal_background .modalS .right{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.modal_background .modalS .titleMODAL, .modalTell .modalS .titleMODAL{
    text-align:center;
    margin-bottom: 20px;
}
.modal_background .modalS .titleMODAL h2, .modalTell .modalS .titleMODAL h2{
    font-size:20px;
}

.modal_background .modalS .radioBox{
    margin-bottom: 20px;
}
.modal_background .modalS .inputBox{
    position: relative;
    width:300px;
    height:46px;
    margin-bottom: 25px;
}
.modal_background .modalS .inputBox:last-child{
    margin-bottom:0;
}
.modal_background .modalS .inputBox input{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:40px;
    border: 1px solid var(--dark);
    background: transparent;
    padding:5px;
    border-radius:4px;
    box-sizing: border-box;
    outline:none;
    font-size:16px;
    color:var(--dark);
}
.modal_background .modalS .inputBox span{
    position: absolute;
    top:1px;
    left:1px;
    padding:10px;
    display:inline-block;
    font-size:16px;
    color:var(--dark);
    font-weight:400;
    transition:.3s;
    pointer-events:none;
}
.modal_background .modalS .inputBox input:focus ~ span,
.modal_background .modalS .inputBox input:valid ~ span{
    transform: translateX(-10px) translateY(-32px);
    font-size: 12px;
}
.modal_background .modalS .inputBox input[type="submit"]{
    background-color: var(--dark);
    color:white;
    border:none;
    cursor:pointer;
}

.modal_background .modalS .inputBox p{
    transform:translateY(50px);
    width: 100%;
    background-color: #B00000;
    text-align: center;
    padding: 8px 5px;
    border-radius:5px;
    color:white;
    cursor: pointer;
}
.modal_background .modalS .btn, .modalTell .modalS .btn{
    display:inline-block;
    text-align: center;
    width: 300px;
    margin:5px;
    padding: 8px 5px;
    border-radius:5px;
    color:white;
    cursor: pointer;
    border:none;
}
.modal_background .modalS input.btn{
    background-color: var(--dark);
}
.modal_background .modalS p.btn, .modalTell .modalS p.btn{
    background-color: #B00000;
}
.modal_background .modalS .btn:hover, .modalTell .modalS .btn:hover{
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}


.modal_background .modalS form #descricao{
    grid-column: 1 / 3;
    width: 100%;
}

.modalTell .modalS ul{
    max-width: 900px;
    list-style-type:circle;
}
.modalTell .modalS .titleMODAL img{
    margin-bottom: 20px;
}


/*FOOTTER*/
footer{
    background-color:#edeef2;
    display:flex;
    align-items:center;
    justify-content:center;
}

footer .content{
    margin-top:50px;
}
footer .content .footer{
    display:flex;
    align-items:center;
    justify-content:space-between;
} 
footer .content .footer img{
    padding:10px;
}
footer hr, footer p{
    opacity: .5;
}

/*MOBILE*/
@media (max-width: 768px){
    .container{
        width:100%;
    }
    .title h2{
        text-align:center;
    }
    .topbar{
        width: 100%;
    }
    .topbar ul,
    #contacts .content .contentItens .contentImage{
        display:none;
    }
    .topbar .logo #mobile{
        display:block;
    }
    .topbar #toggle{
        display:flex;
    }
    /*GRIDS*/
    #contacts .contentItens .contentCards,
    #about .content .indexes,
    .bannerItem,
    #developers .content .employees,
    .modalTell .modalS ul{
        grid-template-columns: 1fr;
    }
    /*banner*/
    .bannerText h1{
        font-size:15px;
    } 
    /* propostas */
    .ajuste-text{
        margin: 0 40px;
    }
    .image{
        margin: 0 40px;
        margin-bottom: 30px;
    }
    /*about*/
    #about .content .text{
        text-align:justify;
        justify-content:center;
    }
    #about .content .text p{
        width: 100%;
    }
    #about .text #S{
        display:none;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .banner,
    #contacts,
    #about,
    #proposals,
    #developers
    {
        padding: 50px 0px;
    }
    .bannerItem .bannerImage{
        grid-row-start: 1;
        grid-column-start: 1;
        margin-bottom:20px;
    }
    #space{
        display:none;
    }
    form, ul{
        overflow-y: scroll;
    }
    ul{
        padding-left:30px;
    }
    .modal_background .modalS form{
        display:block;
    }
    .modal_background .modalS form #descricao{
        margin-top: 25px;
    }
    #developers .content .employees .card .icons{
        opacity: 1;
    }
}